<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.event.collegecraze">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventManagement"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:usesCleartextTraffic">
        <activity android:name="com.event.collegecraze.RegisterGameNameActivity"></activity>
        <activity
            android:name="com.event.collegecraze.IntroductionActivity"
            android:theme="@style/Theme.EventManagement.NoActionBar" />
        <activity android:name="com.event.collegecraze.AddNotificationActivity" />
        <activity android:name="com.event.collegecraze.NotificationActivity" />
        <activity
            android:label="Report"
            android:name="com.event.collegecraze.ReportsActivity"
            android:theme="@style/Theme.EventManagement.NoActionBar" />
        <activity
            android:name="com.event.collegecraze.Change_password"
            android:theme="@style/Theme.EventManagement.NoActionBar" />
        <activity
            android:name="com.event.collegecraze.Forgot_password"
            android:theme="@style/Theme.EventManagement.NoActionBar" />
        <activity
            android:name="com.event.collegecraze.ScanActivity"
            android:theme="@style/Theme.EventManagement.NoActionBar" />
        <activity android:name="com.event.collegecraze.ProfileActivity" />
        <activity
            android:name="com.event.collegecraze.VolunteerNavigationActivity"
            android:label="Home"
            android:theme="@style/Theme.EventManagement.NoActionBar" />
        <activity
            android:name="com.event.collegecraze.DashboardNavigationActivity"
            android:label="Home"
            android:theme="@style/Theme.EventManagement.NoActionBar" />
        <activity android:name="com.event.collegecraze.EventHistoryActivity" />
        <activity android:name="com.event.collegecraze.AddPaymentActivity" />
        <activity android:name="com.event.collegecraze.AddEventCollegeActivity" />
        <activity android:name="com.event.collegecraze.EventCollegeListActivity" />
        <activity android:name="com.event.collegecraze.AddEventActivity" />
        <activity android:name="com.event.collegecraze.EventListActivity" />
        <activity android:name="com.event.collegecraze.AdminUserListActivity" />
        <activity android:name="com.event.collegecraze.AddCollegeActivity" />
        <activity android:name="com.event.collegecraze.CollegeListActivity" />
        <activity android:name="com.event.collegecraze.AdminHomeActivity" />
        <activity android:name="com.event.collegecraze.HomeActivity" />
        <activity android:name="com.event.collegecraze.LoginActivity" />
        <activity android:name="com.event.collegecraze.SignupActivity" />
        <activity android:name="com.event.collegecraze.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.event.collegecraze.notifications.MyFirebaseMessagingService"
            android:permission="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.event.collegecraze.notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_74utptkC3udUY5" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/off_white_dark" />
    </application>

</manifest>